= form_with(model: assignment, local: true) do |form|
  - if assignment.errors.any?
    #error_explanation
      %h2
        = pluralize(assignment.errors.count, "error")
        prohibited this assignment from being saved:
      %ul
        - assignment.errors.full_messages.each do |message|
          %li= message
  .label Titre
  = form.text_field :title
  .label Matiere
  = form.collection_select :discipline_id, Discipline.all, :id, :name
  .label Description
  = form.text_area :description
  .actions
    = form.submit
