%p#notice= notice
%h1= Assignment.model_name.human
= link_to new_assignment_path, class: 'btn btn-outline-success' do
  %i.fa.fa-plus.fa-fw
  Rajouter plus de travail
.assignments-body
  - @assignments_grouped_by_day.each do |date, assignments|
    %h2= l date, format: :long
    - assignments.each do |assignment|
      = render 'assignment', assignment: assignment
